@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    /* for custom scrollbar for webkit browser*/

    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    body {
        font-family: "Poppins", sans-serif;
    }

    .formInputFile::-webkit-file-upload-button {
        background-color: #6366f1;
        border: none;
        color: #ffffff;
        font-weight: 600;
        padding: 0.5rem 0.75rem;
        border-radius: 0.75rem;
        margin-right: 1rem;
    }

    .swiper-pagination-bullet {
        background-color: #4f46e5 !important;
    }

    .swiper-button-prev {
        background-image: url("./assets/svg/left.svg");
    }
    .swiper-button-next {
        background-image: url("./assets/svg/right.svg");
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: none;
    }
}
